In [19]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, StringType,StructType,StructField

In [2]:
spark=SparkSession.builder.appName("dfBasics").getOrCreate()

In [3]:
df=spark.read.json("people.json")

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.describe().show() #describe command also returns a dataframe

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
df.head(2)  # head does not return a dataframe. It returns a list of row objects

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [11]:
df.head(1)[0] # grab the first row object

Row(age=None, name='Michael')

In [15]:
df.head(1)[0][1] # grab the second element value of the first row

'Michael'

In [16]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [18]:
df.columns

['age', 'name']

In [23]:
input_schema=[StructField("age",IntegerType(),True),
              StructField("name",StringType(),True)]

In [24]:
input_struct=StructType(fields=input_schema)

In [25]:
new_df=spark.read.json("people.json",schema=input_struct)

In [26]:
new_df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df["age"]  #gives a column object

Column<b'age'>

In [28]:
df[["age"]] #gives a dataframe

DataFrame[age: bigint]

In [29]:
df["age","name"] #gives a dataframe

DataFrame[age: bigint, name: string]

In [30]:
df[["age","name"]] # gives a dataframe

DataFrame[age: bigint, name: string]

In [31]:
df.select("age") # gives a dataframe

DataFrame[age: bigint]

In [32]:
df.select("age","name") # gives a dataframe

DataFrame[age: bigint, name: string]

In [34]:
df.withColumnRenamed("age","Age")

DataFrame[Age: bigint, name: string]

In [39]:
df_3=df.withColumn("Double Age",df["age"]*2) # creates a new df with schema of existing df plus one more column

In [40]:
df_3.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- Double Age: long (nullable = true)

In [41]:
table_view=df.createOrReplaceTempView("people_view")

In [45]:
sql_result=spark.sql("Select count(*) from people_view") # results in a dataframe

In [46]:
sql_result.show()

+--------+
|count(1)|
+--------+
|       3|
+--------+

In [47]:
df.collect() # returns the whole df as a list

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [49]:
df.collect()[1][0] # how to grab the second row, first element

30