In [41]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import countDistinct,corr,stddev,count, mean, format_number

In [2]:
spark=SparkSession.builder.appName("groupByAndAggregate").getOrCreate()

In [3]:
df=spark.read.csv("sales_info.csv",inferSchema=True,header=True)

In [4]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [5]:
df.describe().show()

+-------+-------+-------+------------------+
|summary|Company| Person|             Sales|
+-------+-------+-------+------------------+
|  count|     12|     12|                12|
|   mean|   null|   null| 360.5833333333333|
| stddev|   null|   null|250.08742410799007|
|    min|   APPL|  Chris|             120.0|
|    max|   MSFT|Vanessa|             870.0|
+-------+-------+-------+------------------+

In [6]:
df.head(2)[0]

Row(Company='GOOG', Person='Sam', Sales=200.0)

In [7]:
df.collect()

[Row(Company='GOOG', Person='Sam', Sales=200.0),
 Row(Company='GOOG', Person='Charlie', Sales=120.0),
 Row(Company='GOOG', Person='Frank', Sales=340.0),
 Row(Company='MSFT', Person='Tina', Sales=600.0),
 Row(Company='MSFT', Person='Amy', Sales=124.0),
 Row(Company='MSFT', Person='Vanessa', Sales=243.0),
 Row(Company='FB', Person='Carl', Sales=870.0),
 Row(Company='FB', Person='Sarah', Sales=350.0),
 Row(Company='APPL', Person='John', Sales=250.0),
 Row(Company='APPL', Person='Linda', Sales=130.0),
 Row(Company='APPL', Person='Mike', Sales=750.0),
 Row(Company='APPL', Person=' Chris', Sales=350.0)]

In [8]:
type(df.collect()[5])

pyspark.sql.types.Row

In [8]:
type(df.collect()[0][2])

float

In [11]:
df.groupBy(["Company","Person"]).min().show()

+-------+-------+----------+
|Company| Person|min(Sales)|
+-------+-------+----------+
|   GOOG|    Sam|     200.0|
|     FB|  Sarah|     350.0|
|   APPL|  Chris|     350.0|
|   MSFT|Vanessa|     243.0|
|   APPL|   John|     250.0|
|   APPL|  Linda|     130.0|
|   GOOG|Charlie|     120.0|
|   APPL|   Mike|     750.0|
|     FB|   Carl|     870.0|
|   MSFT|   Tina|     600.0|
|   MSFT|    Amy|     124.0|
|   GOOG|  Frank|     340.0|
+-------+-------+----------+

In [15]:
df.agg({"Sales":"Sum"}).collect()[0][0] # this is another way of aggregation instead of GroupBy

4327.0

In [24]:
df.select(count(df["Sales"])).collect()[0][0] # count the number of rows in a dataframe

12

In [27]:
df.select(countDistinct(df["Company"])).collect()[0][0] # count distinct values for a column

4

In [36]:
df.select(mean(df["Sales"]).alias("Sales Average.")).show() # How to give new name to a column

+-----------------+
|   Sales Average.|
+-----------------+
|360.5833333333333|
+-----------------+

In [45]:
df.select(format_number(mean(df["Sales"]),2).alias("Sales Average")).collect()[0][0] # How to limit the number of digits after decimal

'360.58'